.todo-app {
    max-width: 500px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  .task-item {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .delete-icon {
    display: none;
  }
  
  .task-item:hover .delete-icon {
    display: inline; /* Muestra el icono de eliminar solo al pasar el mouse */
  }
  
  .task-list {
    padding-left: 0; /* Elimina el padding de la lista */
  }

  